body{
	background-color: #ccc;
	color:  black;
	font-size: 26px;
}
.display-box{
	width: 100px;
	height: 100px;
	border: 1px solid red;
}
input {
	outline: none;
	padding: 5px 0;
}
.btn {
	padding: 5px 10px;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	margin-left: 10px;
}